@font-face {
    font-family: digital_font;
    src: url(fonts/digital-7.ttf);
}
body{
    background-color: black;
  
}
#buttonsLayout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#startBtn{
    background-color: rebeccapurple;
    font-size: x-large;
    color: white;
    padding: 20px;
    width: fit-content; 
    border-radius: 5px;
}
#startBtn:hover{    
    background-color: blueviolet;
    animation: buttonAnim 1s;
    cursor: pointer;
}
@keyframes buttonAnim{
    from{border-radius: 5px;}
    to{border-radius: 25px;}
}
#Timer{
color: red;
text-align: center;
font-size: 100px;
font-family: digital_font;


}
#number_display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-left: 190px;
    padding-right: 190px;
}
#ms{
    color: red;
    text-align: center;
    font-size: 100px;
    font-family: digital_font;
    width: 50px;
    }